<div class="pending flex items-center flex-col justify-center min-w-full" *ngIf="attendance; else noNetwork">
    <qrcode [qrdata]="attendance?.student?.controlNumber!" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="status" *ngIf="attendance.computer">
        <div class="open rounded py-2 px-5">
            Usuario: {{attendance.computer?.user}}
            status: {{attendance.status}}
        </div>
    </div>
    <div class="status">
        <div *ngIf="attendance.status == 'open'" class="open rounded bg-green-400 py-2 px-5">
            Sesión Lista
        </div>
        <div *ngIf="attendance.status == 'registered'" class="open rounded bg-yellow-400 py-2 px-5">
            Sesión Activa
        </div>
    </div>
    <div *ngIf="attendance.status == 'closed'" class="open bg-green-400">
        cerrada
    </div>

</div>
<ng-template id="no-pending-sessions" #noNetwork>
    No hay sesiones activas

</ng-template>
