<div class="flex min-w-full flex-col items-center text-center">
    <a type="button" routerLink="../new-session" class="rounded my-2 text-lg text-gray-200 tracking-widest font-bold bg-blue-500 hover:bg-blue-400 border-gray-400 max-w-[300px] w-[80%]  px-6 py-2">Nueva Sesión</a>
    <a type="button" routerLink="../qr" class="rounded my-2 text-lg text-gray-200 tracking-widest font-bold bg-blue-500 hover:bg-blue-400 border-gray-400 max-w-[300px] w-[80%]  px-6 py-2">Sesión Activa</a>
    <a type="button" routerLink="../history" class="rounded my-2 text-lg text-gray-200 tracking-widest font-bold bg-blue-500 hover:bg-blue-400 border-gray-400 max-w-[300px] w-[80%]  px-6 py-2">Sesiones Anteriores</a>
    <a type="button" routerLink="../profile" class="rounded my-2 text-lg text-gray-200 tracking-widest font-bold bg-orange-500 border-gray-400 hover:bg-orange-400 max-w-[300px] w-[80%]  px-6 py-2">Perfil</a>
    <!-- <button class="rounded my-2 text-lg text-gray-200 tracking-widest font-bold bg-blue-500 hover:bg-blue-400 border-gray-400 max-w-[300px] w-[80%]  px-6 py-2">Sesiones anteriores</button> -->
</div>
