<!-- <p>attendance-history works!</p> -->
<div class="flex flex-col">
    <div class="attendance flex justify-evenly text-center font-bold">
        <p>
            Sala

        </p>
        <p>
            Entrada
        </p>
        <p>
            Salida
        </p>
    </div>
    <div class="attendance flex justify-evenly my-1 drop-shadow-sm " *ngFor="let attendance of attendanceHistory">
        <p class="max-w-[25%]">
            {{attendance.area.name}}

        </p>
        <p class="max-w-[25%]">
            {{attendance.startDateTime?.toDate()?.toLocaleString()}}
        </p>
        <p class="max-w-[25%]">
            {{attendance.endDateTime?.toDate()?.toLocaleString()}}
        </p>
    </div>
</div>
