<div class="flex min-w-full min-h-[80vh]">

    <div class="flex flex-col justify-center min-h-full ml-4">
        <ul>
            <li>
                <a [routerLink]="['./inventario']" routerLinkActive="bg-blue-500" class="block bg-blue-400 py-1 min-w-full my-2 px-4 rounded-l-sm hover:bg-blue-500">Inventario</a>
            </li>
            <li>
                <a [routerLink]="['./inventario/top-herramientas']" routerLinkActive="bg-blue-500" class="block bg-blue-400 py-1 min-w-full my-2 px-4 rounded-l-sm hover:bg-blue-500">Herramientas más utilizadas</a>
            </li>
            <li>
                <a [routerLink]="['./mantenimiento']" routerLinkActive="bg-blue-500" class="block bg-blue-400 py-1 min-w-full my-2 px-4 rounded-l-sm hover:bg-blue-500">Equipo en mantenimiento</a>
            </li>
            <li>
                <a [routerLink]="['./asistencia']" routerLinkActive="bg-blue-500" class="block bg-blue-400 py-1 min-w-full my-2 px-4 rounded-l-sm hover:bg-blue-500">Lista de asistencia</a>
            </li>
        </ul>
    </div>
    <div class="bg-gray-300 min-h-full rounded mt-10 mr-4 grow">
        <router-outlet></router-outlet>
    </div>

</div>