<div class="min-h-full py-5 flex flex-col items-center">
    <h1 class="text-center text-lg">Lista de áreas</h1>
    <div class="flex justify-center">
        <button routerLink="create" class="bg-emerald-500 text-zinc-100 font-bold tracking-wider px-4 py-1 rounded my-3">Agregar</button>
    </div>
    <table class="text-center rounded-sm box-border bg-zinc-100 m-2 min-w-[80%]">
        <thead class="pt-3">
            <tr>

                <th>Nombre</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let area of areas" (click)="edit(area)">
                <td>{{area['name']}}</td>
                <td>{{area['status']}}</td>
            </tr>

        </tbody>
    </table>

</div>