<div class="min-h-full py-5 flex flex-col items-center">
    <h1 class="text-center text-lg">Lista de áreas</h1>
    
    <div class="flex justify-center">
        <button routerLink="reports" class="bg-blue-600 text-zinc-100 font-bold tracking-wider px-4 py-1 rounded my-3 hover:bg-blue-400">Reportes</button>
    </div>
    <div class="flex justify-center">
        <button routerLink="create" class="bg-emerald-500 text-zinc-100 font-bold tracking-wider px-4 py-1 rounded my-3 hover:bg-emerald-400">Agregar</button>
    </div>
    <div class="min-w-full flex justify-center">

        <table class="text-center p-8 rounded-sm bg-zinc-100 m-2 min-w-[80%]">
            <thead class="border-b-2 border-gray-300 border-dotted">
                <tr>
                    
                    <th class="py-2 pt-4">Nombre</th>
                    <th class="py-2 pt-4">Capacidad</th>
                    <th class="py-2 pt-4">Responsable</th>
                    <th class="py-2 pt-4">Carrera</th>
                    <th class="py-2 pt-4">status</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let area of areas" (click)="edit(area)" class="cursor-pointer border-b-2 border-zinc-300 hover:bg-zinc-200">
                    <td class="py-1">{{area['name']}}</td>
                    <td class="py-1">{{area['capacity']}}</td>
                    <td class="py-1">{{area['supervisor']}}</td>
                    <td class="py-1">{{area['career']}}</td>
                    <td class="py-1">{{area['status']}}</td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
</div>