/* You can add global styles to this file, and also import other style files */

@import '../node_modules/chartist/dist/chartist.css';
@import '../node_modules/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css';
@tailwind  base;
@tailwind components;
@tailwind utilities;
.ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: .75rem;
    font-weight: bold;
    line-height: 1;
}
